

1. Data Cleaning and Handling Missing Values
2. Feature Engineering
3. Encoding Categorical Variables
4. Feature Scaling
5. Handling Imbalanced Data (strtify when splitting)
6. Dropping Unnecessary Columns

In [ ]:
import pandas as pd
import numpy as np
import warnings

# Import custom function from the .py file for reduction of memory usage
from utils import reduce_mem_usage

# Import custom function from the .py file for EDA
from eda import eda_pipeline

In [4]:
train = pd.read_csv('data/raw/train.csv')
test = pd.read_csv('data/raw/test.csv')

In [5]:
train.shape, test.shape

((750000, 18), (250000, 17))

In [6]:
train.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [7]:
# Use the function to optimize your DataFrame
train = reduce_mem_usage(train)
print()
test = reduce_mem_usage(test)

Memory usage of dataframe is 103.00 MB
Memory usage after optimization is: 64.37 MB
Decreased by 37.5%

Memory usage of dataframe is 32.43 MB
Memory usage after optimization is: 21.22 MB
Decreased by 34.6%

In [8]:
numeric_columns = ['age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

In [9]:
for column in train.columns:
    if column in categorical_columns:
        print(column, ": ", train[column].unique())

job :  ['technician' 'blue-collar' 'student' 'admin.' 'management' 'entrepreneur'
 'self-employed' 'unknown' 'services' 'retired' 'housemaid' 'unemployed']
marital :  ['married' 'single' 'divorced']
education :  ['secondary' 'primary' 'tertiary' 'unknown']
default :  ['no' 'yes']
housing :  ['no' 'yes']
loan :  ['no' 'yes']
contact :  ['cellular' 'unknown' 'telephone']
month :  ['aug' 'jun' 'may' 'feb' 'apr' 'nov' 'jul' 'jan' 'oct' 'mar' 'sep' 'dec']
poutcome :  ['unknown' 'other' 'failure' 'success']

In [10]:
#eda_pipeline(train, test, "y")

In [12]:
df = pd.read_csv('data/processed/train.csv')

In [13]:
df.head()

,num__age,num__balance,num__day,num__duration,num__campaign,num__pdays,num__previous,cat__job_blue-collar,cat__job_entrepreneur,cat__job_housemaid,...,cat__month_sep,cat__poutcome_other,cat__poutcome_success,bin__default,bin__housing,bin__loan,ord__education,remainder__id,remainder__contacted_previously,y
0,0.106310,-0.422083,1.076594,-0.510829,0.155597,-0.302803,-0.223475,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0
1,-0.289776,-0.243316,0.228194,-0.261338,-0.580100,-0.302803,-0.223475,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0
2,-0.487819,-0.212287,-0.256606,-0.532843,-0.212251,-0.302803,-0.223475,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0
3,-1.379012,-0.412563,1.440194,-0.903409,-0.212251,-0.302803,-0.223475,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,3.0,0.0,0
4,-1.478033,-0.111092,-1.589805,2.369319,-0.580100,-0.302803,-0.223475,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,1.0,4.0,0.0,1